<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingView"
            id="lineup.demo.university.wur"
            name="World University Ranking 2007-2013"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="nasatxl.NASATxlResultsView"
            id="lineup.demo.nasatxl"
            name="NASA Task Load Index User Study Results">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRanking2012View"
            id="lineup.demo.university.wur2012"
            name="World University Ranking 2012"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRanking2013View"
            id="lineup.demo.university.wur2013"
            name="World University Ranking 2013"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingEvaluation1View"
            id="lineup.eval.university.wur2012"
            name="World University Ranking 2012"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.arwu.AcademicRankingOfWorldUniverstiesView"
            id="lineup.demo.university.arwu"
            name="Academic Ranking of World Universties">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.mup.MeasuringUniversityPerformanceView"
            id="lineup.demo.university.mup"
            name="Measuring University Performance">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.top100under50.Top100Under50View"
            id="lineup.demo.university.top100under50"
            name="Top 100 under 50 2012">
      </view>
      <view
            class="food.FoodView"
            id="lineup.demo.food"
            name="Food Nutrition"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="chip.ChipView"
            id="lineup.demo.chip"
            name="Chip Smartphone Ranking"
            restorable="false">
      </view>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="university.wur.WorldUniversityRankingView$Handler"
          id="lineup.demo.university.wur.cmd"
          name="World University Ranking 2007-2013">
    </command>
    <command
          defaultHandler="nasatxl.NASATxlResultsView$Handler"
          id="lineup.demo.nasatxl.cmd"
          name="NASA Task Load Index User Study Results">
    </command>
    <command
          defaultHandler="university.wur.WorldUniversityRanking2012View$Handler"
          id="lineup.demo.university.wur2012.cmd"
          name="World University Ranking 2012">
    </command>
    <command
          defaultHandler="university.wur.WorldUniversityRanking2013View$Handler"
          id="lineup.demo.university.wur2013.cmd"
          name="World University Ranking 2013">
    </command>
    <command
          defaultHandler="university.wur.WorldUniversityRankingEvaluation1View$Handler"
          id="lineup.eval.university.wur2012.cmd"
          name="World University Ranking 2012 (plain)">
    </command>
    <command
          defaultHandler="university.mup.MeasuringUniversityPerformanceView$Handler"
          id="university.wur.WorldUniversityRankingEvaluation1View.cmd"
          name="Measuring University Performance">
    </command>
    <command
          defaultHandler="university.top100under50.Top100Under50View$Handler"
          id="lineup.demo.university.top100under50.cmd"
          name="Top 100 under 50 2012">
    </command>
    <command
          defaultHandler="food.FoodView$Handler"
          id="lineup.demo.food.cmd"
          name="Food Nutrition">
    </command>
    <command
          defaultHandler="chip.ChipView$Handler"
          id="lineup.demo.chip.cmd"
          name="Chip Smartphone Ranking">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.caleydo.lineup.menu.demos">
       <command
             commandId="lineup.demo.university.wur.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.eval.university.wur2012.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.demo.university.wur2012.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.demo.university.wur2013.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.demo.food.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.demo.university.top100under50.cmd"
             style="push">
       </command>
       <command
             commandId="lineup.demo.chip.cmd"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.caleydo.vis.lineup.demo.initial">
    <view
          view="lineup.demo.university.wur2013">
    </view>
 </extension>
</plugin>
