<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingView"
            id="lineup.demo.university.wur"
            name="World University Ranking History"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="nasatxl.NASATxlResultsView"
            id="lineup.demo.nasatxl"
            name="NASA Task Load Index User Study Results">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRanking2012View"
            id="lineup.demo.university.wur2012"
            name="World University Ranking 2012"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRanking2013View"
            id="lineup.demo.university.wur2013"
            name="World University Ranking 2013"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.wur.WorldUniversityRankingEvaluation1View"
            id="lineup.eval.university.wur2012"
            name="World University Ranking 2012"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.arwu.AcademicRankingOfWorldUniverstiesView"
            id="lineup.demo.university.arwu"
            name="Academic Ranking of World Universties">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.mup.MeasuringUniversityPerformanceView"
            id="lineup.demo.university.mup"
            name="Measuring University Performance">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.mixed.MixedView"
            id="lineup.demo.university.mixed"
            name="University Rankings 2012">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="university.top100under50.Top100Under50View"
            id="lineup.demo.university.top100under50"
            name="Top 100 under 50 2012">
      </view>
      <view
            class="food.FoodView"
            id="lineup.demo.food"
            name="Food Nutrition"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.caleydo.core.views"
            class="chip.ChipView"
            id="lineup.demo.chip"
            name="Chip Smartphone Ranking"
            restorable="true">
      </view>
   </extension>
</plugin>
